/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  margin: 0 auto;
  font-family: "Bai Jamjuree";
  font-weight: 400;
}

h1 {
  font-family: "Bai Jamjuree";
  font-weight: 700;
}
.nav {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  background-color: limegreen;
  font-weight: 700;
}

.alien-logo {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  width: 10%;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 10px;
  width: 85%;
}

.nav p {
  padding-left: 20px;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  text-decoration: overline;
  /* color: lime !important; */
}

.nav a:visited {
  color: black;
}

.button {
  padding: 5px 15px;
  font-family: "Bai Jamjuree";
  font-weight: 700;
  background-color: lightgray;
  font-size: 12px;
  border-radius: 5px;
  border-color: rgba(0,0,0,0);
}
.adopt_button {
  background-color: skyblue;
}

.return_button {
  background-color: #ff5c57;
}

.login_button {
  background-color: orange;
}

.logout_button {
  background-color: mediumpurple;
}
