body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.form {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.owner-show-body {
  background-image: url("/assets/blue-yellow-aliens.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
