.sign-up a {
  text-decoration: none;
  // font-style: oblique;
  font-weight: 700;
  color: limegreen;
}
 .sign-up a:hover {
   text-decoration: overline;
 }

 .sign-up a:active {
   color: limegreen;
 }

.login-body {
  background-image: url("/assets/alien-friends.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
